@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}

.website-logo a,
.website-logo a span {
  font-family: "Orbitron", sans-serif;
}
canvas {
  pointer-events: none;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #06b5d423;
  border: 2px solid #06b6d4;

  pointer-events: none;
  z-index: 9999;
}
